@{
    Layout = "_MemberLayout";
}

<main id="main" class="main">
    <div class="pagetitle">
        <h1><i class="bi bi-person-check-fill"></i> Welcome @User?.Identity?.Name</h1>
        @* <nav>
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
            </ol>
            </nav> *@
    </div><!-- End Page Title -->
</main>